@use 'styles/colors' as foundation with (
  $yellow: yellow,
);
@use 'styles/grid-layout' with (
  $COLUMNS: 24,
  $COLUMN-PADDING: 5px,
);
@use 'sass:color';

.example {
  color: foundation.$yellow;
  background: foundation.$purple;
  box-shadow: 2px 2px 5px color.adjust(foundation.$fontColor, $lightness: 0.5);
}
